/app/.hvigor/
/app/.idea/
/app/.signing*/
/app/oh_modules/
/app/**/oh_modules/
/app/**/build/
/app/build-profile.json5
/app/local.properties
/app/oh-package-lock.json5
/cloud-service/target/
/cloud-service/runtime/
*.hap
*.app
*.p12
*.p7b
*.jks
*.pem
*.key
*.cer
*.sqlite*
*.db
*.log
.env*
!.env.example
